*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  .gameContainer{
    position: relative;
    #container{
      height: 100%;
      width: 100%;
      position: absolute;
      #webglcanvas{

      }
    }
    #overlay{
      height: 100vh;
      width: 100vw;
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      pointer-events: none;
    }
    .controls{
      position: absolute;
      z-index: 900;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button{
        width: 10%;
        height: 2em;
      }
      #counter{
        padding: 2em;
        background-color: white;
        border-radius: 5px;
      }
    }
  }
}
