*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  .gameContainer{
    position: relative;
    #container{
      height: 100%;
      width: 100%;
      position: absolute;
      #webglcanvas{

      }
    }
    #gameUi{
      position: absolute;
      z-index: 500;
      height: 100vh;
      width: 100vw;
      .playerStats{
        background-color: rgba(255,255,255,0.5);
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1em;
      }
    }
    #overlay{
      height: 100vh;
      width: 100vw;
      position: absolute;
      background-color: rgba(255,255,255,0.5);
      pointer-events: none;

      background: #b5bdc8; /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, rgba(#b5bdc8,0.8) 0%, rgba(#828c95,0.8) 36%, rgba(#28343b,0.8) 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(#b5bdc8,0.8) 0%,rgba(#828c95,0.8) 36%,rgba(#28343b,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(#b5bdc8,0.8) 0%,rgba(#828c95,0.8) 36%,rgba(#28343b,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .controls{
      position: absolute;
      z-index: 900;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .boxContainer{
        background-color: white;
        border-radius: 25px;
        padding: 1em;

        background: #f6f8f9; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #f6f8f9 0%, #e5ebee 37%, #d7dee3 59%, #f5f7f9 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #f6f8f9 0%,#e5ebee 37%,#d7dee3 59%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #f6f8f9 0%,#e5ebee 37%,#d7dee3 59%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      button{
        // width: 10%;
        height: 2.5em;
        cursor: pointer;
      }
      #counter{
      }
      #mainMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 40vh;
        .gameTypeContainer{
          display: flex;
          .typeButton{
            border: 1px solid transparent;
            border-radius: 15px;
            padding: 0.5em;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
            background: #a7cfdf; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            cursor: pointer;
            &:first-child{
              margin-right: 1em;
            }
            &.selected{
              border-color: gray;
              box-shadow: 2px 2px 10px -5px black;
            }
            &:hover{
              border-color: black;
            }
          }
        }
        button#playButton{
          width: 100%;
        }
      }
      #message{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
